.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  max-width: 600px;
  height: auto;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 32px;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.close-button {
  font-size: 2em;
  padding: 8px;
  cursor: pointer;
  transition: color 0.3s;
  text-align: right;
  width: 100%;
}


.close-button:hover {
  color: #600020;
}

.modal-body {
  text-align: center;
  font-size: 1.25em;
  font-weight: 400;
  margin: 15px 0;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.cancel-button,
.confirm-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.cancel-button {
  margin-right: 10px;
  color: #333;
  background-color: #f1f1f1;
}

.cancel-button:hover {
  background-color: #f2f2f2;
}

.confirm-button {
  color: #fff;
  background-color: #800020;
}

.confirm-button:hover {
  background-color: #600018;
}
