nav {
    padding: 16px 8px !important;
    box-shadow: 4px rgba(0, 0, 0, 0.5);
}
nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    flex: 1 1 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li svg {
    width: 16px;
    height: 16px;
    fill: white;
    margin-right: 4px;  
}



nav ul li a {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 400;
    color: white !important;
}

@media (max-width: 768px) {
    .nav ul {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 24px;
    }
    nav ul li{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav ul li svg{
        width: 24px;
        height: 24px;
        margin-left: 8x;
        margin-right: 0;
    }
  }
